<div class="block">
<h2>Последние</h2>
<ul>
{% for i in post_list %}
  <li><a href="{% url 'post_detail' pk=i.pk %}"> {{ i.title }} </a> <br>
  <div class="date"> {{ i.published_date }} </div>
{% empty %}
  <li>В блоге еще нет записей</li>
{% endfor %}
</ul>
</div>

<div class="block" style="text-align: center">
  <h2> Теги </h2>
  {% for tag in cloud %}
  <a href="{% url 'post_list' tag_slug=tag.slug %}" style="font-size: {{tag.f}}px; margin: 2px ">{{ tag.name }}</a>
  {% endfor %}
</div>
